[2016-08-25 15:19] ajsb85 opened #1 "Example plugin for GLPI"
Hi, this is the base repository to create this plugin.
https://github.com/pluginsGLPI/example

[2016-08-25 15:19] ajsb85 commented on #1
@ajsb85 Test

[2016-08-25 15:53] crlsgms commented on #1
For referrence, the telegram bot dev docs - https://core.telegram.org/bots

[2016-08-28 23:05] ajsb85 opened #2 "Transifex Project"
Build a project on Transifex like this one:
https://www.transifex.com/glpi/GLPI_example/dashboard/

[2016-08-28 23:11] ajsb85 commented on #2
All plugin projects on Transifex
https://www.transifex.com/teclib/

[2016-08-29 09:02] orthagh commented on #2
Ok for transifex.
I don't want to push teclib organization for this project except if all members here want to.

We have a lot of plugins in this organization but the teclib name is highlighted.
This telegram project is more community oriented.

[2016-08-29 09:06] ajsb85 commented on #2
@orthagh I was created GLPi-Project on Transifex and your are the admin
https://www.transifex.com/glpi-project/

[2016-08-29 09:14] orthagh commented on #2
The name is problematic, we already have a "glpi" organization.
i suggest a dedicated like glpitelegram or if you want a more generical name : "glpi plugins"

[2016-08-29 09:17] ajsb85 commented on #2
@orthagh Done!
https://www.transifex.com/pluginsGLPI/public/
We can push here all community plugins

[2016-08-29 09:22] ajsb85 opened #4 "Format to submit the plugin"
http://plugins.glpi-project.org/#/submit

[code]

[2016-08-29 09:31] ajsb85 commented on #2
https://www.transifex.com/pluginsGLPI/glpi-telegrambot/dashboard/

![image](https://cloud.githubusercontent.com/assets/663460/18047233/18c7d752-6ddc-11e6-848a-9e8d3c72f776.png)

[2017-05-09 10:45] TICgal opened #6 "[Enhancement] Support email and Telegram notifications simultaneously"
Yes, it's on the roadmap, but just to be sure :)

This plugin is not quite useless until we can choose between email and telegram. Telegram notificacions will be great to cleanup email.

[2017-05-09 11:16] wawax commented on #6
Hi,

The notification process is being improved in GLPI 9.2.
It's, IMHO, better to wait a little bit, because this feature request should be covered (not the telegram transport, but the fact to choose it's notification).

[2017-05-09 15:23] TICgal commented on #6
Hi @wawax,
Great news.
We'll wait then. Thanks

[2017-05-12 19:43] filipemenezes commented on #6
Greate news

[2017-10-24 10:29] freewood opened #7 "Messages send only to one recipient instead of few"
If message should be send to few techinicians, it's send only to one of them (probably last added, I'm not sure) as a few copies.
At least this happens on "New followup" event, I'm not tested them all.

How to reproduce:

1. Setup telegram notifications to users A and B;
2. Set notification with event "New followup" and recipient "Technician in charge of ticket";
3. Assign users A and B as technic

[2017-10-24 10:37] Smiley-k commented on #7
Yes, Yes, Yes, I also see this problem

[2017-10-24 11:30] brzd-me opened #8 "Transferring "Telegram username" field from the Administration to My Settings."
Hello Filipe!
Thanks for this cool plugin!
Can you transfer "Telegram username" field from the "Administration" to "My Settings"?
This will help users to subscribe to notifications themselves, without an administrator.

[2017-10-24 11:39] Smiley-k commented on #8
or, the user sends an e-mail to the bot, next is checking the list of users is a user with that e-mail and there fits either username or ID.

[2017-10-24 12:17] brzd-me commented on #7
I noticed that when creating a Comment in the Ticket, the notification is sent to the first registered Telegram user even if he not "Assigned to" in new Ticket!

[2017-10-24 12:51] filipemenezes commented on #7
I really appreciate for your help.
The problem has been fixed.

[2017-10-24 12:51] #7 closed

[2017-10-24 13:10] filipemenezes commented on #6
From the current plugin's version on, it is available.

[2017-10-24 13:10] #6 closed

[2017-10-24 17:32] isawebs opened #9 "Error when Execute Telegram in "messajelistener""
Hi i´ve got this problem and dont know why, token and user its fine!
`[img]https://i.imgur.com/qCBVy2r.png[/img]`

[2017-10-25 12:12] jeffersantoss commented on #9
I've got the same place but a different error and token and user it's correct as well.
[img]https://i.imgur.com/93fdZX2.jpg[/img]

[2017-10-25 13:30] isawebs commented on #9
I´ve resolved, in the config place E:\xampp\htdocs\proyect\config\config_db.php putting exactly the passwor as it is and changed the token for another. I hope worked for u too. **jeffersantos** in yourcase it seems to me you have the token and bot wrong written.

[2017-10-25 16:24] jeffersantoss opened #10 "Error in messagelistener"
Description in log: Action completed, no processing required
Details inside item log Running status: Error. Telegram returned an invalid response! Please review your bot name and API key.

I tried with two different bot names and I'm totally sure that token and username are correct but I still the error.

![erro_glpi](https://user-images.githubusercontent.com/10839497/32010247-08ecd944-b990-11e7-9

[2017-11-02 07:06] llentjes opened #11 "Is it possible to create tickets by telegram?"
For example by sending a message to the bot, with key words. (And then create a ticket based on a template)

[2017-11-03 13:46] marcelofares commented on #10
I have this same problem.
Did you solve it in what way?

[2017-11-05 23:19] matrixsupport commented on #10
Me too has this Issue !

[2017-11-09 00:28] newtonnh commented on #10
Me too, I already reinstalled my server about six times, but the problem is not solved.

But I do not know if this will help anyone in any way, but there it goes:
If you followed GLPi setup guide probably you put as database password something like that something@something. I found on Internet a tip to edit manually the file config_db.php, verify the password, I don't know why, into file config_db

[2017-11-15 18:38] mays1509 commented on #10
I also have that problem, I'm new to the tool, and this is solved?

[2017-11-17 00:25] Batumbo commented on #9
Error. SQLSTATE[HY000] [1045] Access denied for user 'root'@'localhost' (using password: YES)
--
glpi\\config\config_db.php      all right:  <?php
 class DB extends DBmysql {

 public $dbhost     = '127.0.0.1';

 public $dbuser     = 'root';

 public $dbpassword = 'password';

 public $dbdefault  = 'db';

}
glpi nice work
telegrambot - error (up to start post ^_^ )

[2017-11-17 08:00] Drumhazzard commented on #10
Hi All!

I have the same error that @jeffersantoss
I try with some differents bots, usernames and tokens, but the issue persits

:(

[2017-11-17 09:01] Drumhazzard commented on #10
¡Solved!

In Windows clients, you need to modify
...\plugins\telegrambot\vendor\longman\telegram-bot\src\Request.php

You must add 'verify' ==> false, at line 215

Like this: self::setClient(new Client(['base_uri' => self::$api_base_uri,'verify'   => false,]));

[2017-11-21 09:23] HairullinRR commented on #9
Problem!
Automatic action - messagelistener
logs  Error. SQLSTATE[28000] [1045] Access denied for user 'root'@'localhost' (using password: YES)
http://www.picshare.ru/view/8363150/

[2017-11-21 11:22] jeffersantoss commented on #10
Where can I find this file @Drumhazzard ?

[2017-11-23 18:16] mays1509 opened #12 "No sentry Telegram notifications from GLPI"
My bot only sends notifications to me, the other Telegram users are not notified when a ticket is created.

I have to create a group with the users that I will allow to receive notifications with my bot?

Help

[2017-11-24 01:59] augustoferronato commented on #12
Hello,
 This is because the bot need be "approved" for the user for send the message, the user need to send some message to bot in private.

[2017-11-24 16:20] mays1509 commented on #12
Could you please tell me the command to approve a user in my bot or the syntax?
Thanks in advance

[2017-11-27 07:19] trasher opened #13 "Messages not sent from a sub entity"
Hello,

Someone mailed us an issue with the plugin. Apparently, messages are not sent from sub entities.

The original message is:

[2017-11-28 09:35] Drumhazzard commented on #11
Yes, with API Rest or Webservices

[2017-11-28 09:36] Drumhazzard commented on #12
This users have the telegram username configured in GLPI?

[2017-11-28 10:13] llentjes commented on #11
@Drumhazzard thanks for your response. I have no idea how to do this.
It is nog possible to extend the telegram-plugin?
Or is the use of webservices easier?

[2018-01-03 17:48] jotafe opened #14 "Error after install"
After install and enable the plugin, I tried to setup **Telegram followups configuration** apear this error.

PHP Warning: require(/var/www/html/glpi/plugins/telegrambot/vendor/autoload.php): failed to open stream: No such file or directory in /var/www/html/glpi/plugins/telegrambot/inc/bot.class.php at line 29

Fatal error: require(): Failed opening required '/var/www/html/glpi/plugins/telegrambot

[2018-01-12 18:52] filipemenezes commented on #11
This feature will be available on the next TelegramBot version.

[2018-01-14 02:09] arthuryuri opened #15 "Fatal Error"
Fatal error: Class 'PluginTelegrambotNotificationWebsocketSetting' not found in /usr/share/glpi/inc/notificationsettingconfig.class.php on line 108

[2018-01-17 09:39] LordBat commented on #10
Hi, any advance about this? i still have the same issue "Error. Telegram returned an invalid response! Please review your bot name and API key."
I put the correct API key, and bot name.
i try to modify the "Request.php" but the problem continue.

This is my enviroment:

Ubuntu Server 16.04
php 7.0
mariaDB 10

any suggestion will be great.

Thanks and Regards!

[2018-01-17 13:07] pablo111111 commented on #9
*** PHP Warning(2): require(/var/www/html/plugins/telegrambot/vendor/autoload.php): failed to open stream: No such file or directory
  Backtrace :
  plugins/telegrambot/inc/bot.class.php:29
  plugins/telegrambot/inc/bot.class.php:29           require()
  inc/autoload.function.php:355                      include_once()
  :                                                  glpi_autoload()
  ...t/inc

[2018-01-17 16:32] yurisilvano opened #16 "Wrong post"

[2018-01-17 16:32] #16 closed, assigned to ajsb85, filipemenezes

[2018-01-22 19:59] yurisilvano commented on #11
In my scenario, it would be interesting if my users could validate telegram calls as well.

[2018-01-23 20:04] nathanielmorais commented on #14
It hapens with me too! Please Help!!!!

[2018-03-02 14:06] ferdmanp commented on #11
@filipemenezes ,it would be great feature! Thanks in advance! Looking forward for next release. When do you plan to get it done (approximately)?

[2018-03-26 18:05] Megachip opened #17 "Link to ticket"
Link Ticket id oder subject to ticket

[2018-03-26 21:04] rhomullodesouza opened #18 "Correção para envio de mensagem para grupo"
Boa tarde, este plugin está configurado para somente enviar mensagem para que criou o Bot.
segue abaixo orientações de como deve ser realizado a configuração para que a mensagem seja enviada para o grupo.

Configuração do TELEGRAM

1.Procurar por BotFather dentro do Telegram
2.Adicionar um novo bot (/newbot)
3.Escolher um nome para o bot
4.Escolher um login para o bot (obrigatorio terminar com bot

[2018-03-28 12:18] evandrotrebien commented on #18
@rhomullodesouza  muito boa a sua dica!
Agora tenho uma duvida, segui passo a passo o seu tutorial aqui, porém na hora de mandar a notificação, ele envia a mesma 3x.
Fica assim:

Novo Chamado Recebido !

ID: 0000161
Tittle: 9
Requerente: glpi
Data: 27-03-2018 08:37
ATC Helpdesk
-------------------------------
Novo Chamado Recebido !

ID: 0000161
Tittle: 9
Requerente: glpi
Data: 27-03-2018 08:37
AT

[2018-04-08 10:59] Megachip commented on #17
is possible with changing the template or just using the default one

[2018-04-08 10:59] #17 closed, assigned to ajsb85, filipemenezes

[2018-04-12 11:16] p-bo opened #19 "No resource strings available on Transifex"
Hi, @filipemenezes

In readme, there is link with suggestion to translate on Transifex, but there are no resource strings available for neither language.

References: https://github.com/pluginsGLPI/telegrambot/issues/2
https://www.transifex.com/pluginsGLPI/telegrambot/dashboard/

[2018-04-20 06:50] yustas84 commented on #10
Hello. We have same problem. tried all the above, the problem remains

[2018-04-20 11:55] ajsb85 opened #20 "DevOps tasks"
- [x] Continuous integration
- [ ] Continuous deployment
- [ ] Continuous delivery
- [ ] Changelog
- [ ] Test reports
- [ ] Coverage reports
- [ ] Code documentation
- [ ] Artifacts for downloads and release description

[2018-04-20 13:00] ajsb85 opened #21 "Community profile"
- [x] README
- [x] Code of conduct
- [x] Contributing
- [x] License
- [x] Issue template and pull request template
- [x] GitHub App Settings
- [x] Project Site
- [x] Project Board
- [x] Milestones

[2018-04-21 14:22] ajsb85 commented on #21
Hi, @Naylin15
I already created the orphan branch gh-pages.

[2018-04-23 15:45] #21 closed, assigned to ajsb85, Naylin15

[2018-04-23 15:46] ajsb85 commented on #21
@Naylin15 Thanks.
This task is done.
https://github.com/pluginsGLPI/telegrambot/community
![image](https://user-images.githubusercontent.com/663460/39137569-39eb46e0-471e-11e8-91d5-a7719821f53f.png)

[2018-04-23 15:49] #1 closed

[2018-04-23 15:51] ajsb85 commented on #4
This task is done.
Reference:
https://git.io/vp3pw

[2018-04-23 15:51] #4 closed

[2018-05-02 13:50] ajsb85 opened #25 "Multilingual Site with GitHub Pages and Jekyll"
Hi, @E1matheus

Setup a Proper Multilingual Site with GitHub Pages and Jekyll.

References:
http://www.klaasnotfound.com/2017/02/16/proper-multilingual-site-with-github-pages-and-jekyll/
https://www.sylvaindurand.org/making-jekyll-multilingual/
https://github.com/sylvaindurand/jekyll-multilingual

Please, @Naylin15 supervise his progress.

[2018-05-04 14:10] Andruwka1989 opened #27 "I have problems with connecting to telegram server."
Have a nice day developer! How can I bypass the telegram blocking that operates in the Russian Federation? There were attempts to find information about the connection in the source code, but nothing happened. In the network, I did not find any solutions. On you last hope.

[2018-05-14 17:06] fricgabriel opened #28 "Error. Telegram returned an invalid response! Please review your bot name and API key."
Hello. I have this problem after install the plugin. I have already reviewed the token and the same message continues.

![sem titulo](https://user-images.githubusercontent.com/39228143/40012082-fafb29b0-577f-11e8-9e40-87a46a49de2d.png)

[2018-07-02 14:10] sazanof commented on #28
+1 - the same problem. SSL LEts Encrypt (test with ssl & no ssl)

[2018-07-02 14:16] sazanof commented on #10
+++ Please help us!

[2018-07-02 14:19] sazanof commented on #10
try this! its solved for me

....
'base_uri' => 'https://api.telegram.org',
'proxy'    => 'socks5://218.248.73.193:1080',
'verify'   => false,

[2018-07-02 18:17] marcelofares commented on #10
The tip of our friend Drumhazzard solved it for me.

In Windows clients, you need to modify
... \ plugins \ telegrambot \ vendor \ longman \ telegram-bot \ src \ Request.php

You must add 'verify' ==> false, at line 215

Like this: self :: setClient (new Client (['base_uri' => self :: $ api_base_uri, 'verify' => false,]));

[2018-07-03 06:21] yustas84 commented on #10
This doesn't help too
self::setClient(new Client(['base_uri' => ' https://api.telegram.org ', 'proxy' => 'socks5: //218.248.73.193: 1080',  'verify' => false]));
![image](https://user-images.githubusercontent.com/36289755/42201939-3252fa32-7eb3-11e8-9d2a-029c637e4dfd.png)

![image](https://user-images.githubusercontent.com/36289755/42201921-24af8526-7eb3-11e8-88ac-f6470c7f721b.png)

[2018-07-03 12:33] sazanof commented on #10
Try this. Its worked for me
[code]
if no ssl, then add 'verify' => false

[2018-07-03 13:41] DimmoK commented on #28
Hello. I have a same problem!

[2018-07-03 13:44] sazanof commented on #28
@DimmoK
https://github.com/pluginsGLPI/telegrambot/issues/10#issuecomment-402139989
try this

[2018-07-03 13:57] DimmoK commented on #28
@sazanof Спасибо! По вашей ссылке работает.

**/glpi/plugins/telegrambot/vendor/longman/telegram-bot/src/Request.php**
self::setClient(new Client(['base_uri' => self::$api_base_uri,'proxy'=>'socks5://yahaha.us:yahaha.us@socks5-a.yahaha.win:2019']));

[2018-07-03 14:03] sazanof commented on #28
@DimmoK зато другое не будет работать. смотри мой pull request
я день потратил)

[2018-07-03 14:17] sazanof opened #30 "Add Group ID to sent messages to group"
Hello! It will be useful, if in glpi group setting (or some else) we can add an ID of group, where bot was included, like -1264758483
And notifications will be send once time to group with many users

[2018-07-03 14:25] DimmoK commented on #28
@sazanof ошибки перестал писать в логах GLPI, но сообщения всё равно не приходят. Всё сделал как в видео, за исключением, что навесил на новые комментарии для теста.

[2018-07-03 14:28] sazanof commented on #28
@DimmoK
https://github.com/pluginsGLPI/telegrambot/pull/29
я же написал выше
там 2 коммита, с первого раза не получилось запушить))
Один файлик подправь в bot.class.php

[2018-07-03 14:30] sazanof commented on #28
@DimmoK
или вот просто перезалей
https://github.com/sazanof/telegrambot/blob/develop/inc/bot.class.php

неважно куда навешиваешь, в коде опечатка

[2018-07-03 14:32] DimmoK commented on #28
@sazanof да я как раз смотрю. У меня он другой этот файл, не такой, как у вас.
Скачал ваш. Сейчас протестю.

UPD.
Что-то заело после замены файла. Если нажать на "Выполнить", то перекидывает черти куда.

UPD.
В общем вернул обратно. Попробую сравнить свой файл и ваш.

[2018-07-04 05:28] sazanof commented on #28
@DimmoK мой файл отличается только
этим
[code]
Проверьте структуру DB, логи ошибок сервера

[2018-07-04 14:38] DimmoK commented on #28
@sazanof
Всё заработало. Это я не так делал: он только на новые заявки работает, а на добавление комментов не реагирует. Надеюсь, потом функционал расширят.

[2018-07-04 14:39] sazanof commented on #28
@DimmoK Все уведомления работают. Проверено)

[2018-07-04 14:44] DimmoK commented on #28
@sazanof буду дальше ковыряться. Может я что-то не так делаю...

[2018-07-18 15:52] kennedyrs commented on #30
Will be a great feature!

[2018-08-02 17:30] Phorta commented on #11
Any news on that subject?

 @Drumhazzard  saw on another forum that you developed something like that... is it working?

[2018-08-28 16:02] glowsub commented on #30
Really need this feature

[2018-09-14 09:27] irubtsov commented on #14
Try downloading the release https://github.com/pluginsGLPI/telegrambot/releases 2.0

[2018-09-29 22:07] andrelro commented on #30
Yes, really need this feature.

[2018-09-29 22:10] andrelro commented on #18
Não conseguimos compreender onde e como colocar os critérios:
token/sendMessage?chat_id=-IDdoGrupo
@usuario_bot_criado
Poderia nos ajudar e exemplificar este passo?

[2018-09-30 16:13] rhomullodesouza commented on #18
Bom dia André, estou considerando que todos os passos acima foram seguidos, com isso você vai precisar acessar no Menu: Configurar -> Notificações - > Telegram followups configuration
*Observe se em **Configuração de notificações** está marcado como **SIM**, é isso que habilita o **Telegram followups configuration**

![Imagem 1](https://user-images.githubusercontent.com/32142444/46259628-38be0480-

[2018-09-30 22:53] andrelro commented on #18
Boa noite Rhomullo,
Muito obrigado pelo seu retorno e atenção, funcionou.

[2018-10-01 09:35] rhomullodesouza commented on #18
Por nada, a disposição. 

Enviado de myMail para iOS

domingo, 30 de setembro de 2018 19:53 -0300 de notifications@github.com  <notifications@github.com>:

[2018-11-01 08:04] hvsposllc commented on #11
If it will be possible to open tickets, may be will be possible to close, reject or assign to agent?

[2019-04-11 13:22] reinethernal opened #32 "Need upgrade to 9.4 support"
### Observed Results

### Expected behavior

[2019-04-11 17:23] kornelson commented on #32
It's totally necessary and add the option for groups notifications directly in the plugin. Thanks

[2019-04-17 14:27] Gambware commented on #32
Trying the GLPI TelegramBot 2.0.0 on GLPI 9.4.2 and isn't work. Need upgrade the version.

[2019-04-23 20:22] dboldrini commented on #18
meu parou de funcionar do nada..Refiz o processo umas 5 vezes, e ainda não envia
GLPI 9.2.3

Log:

  *** PHP Notice(8): Undefined index: telegram_username
  Backtrace :
  plugins/telegrambot/inc/user.class.php:52
  plugins/telegrambot/inc/user.class.php:65          PluginTelegrambotUser::item_add_user()
  :                                                  PluginTelegrambotUser::item_update_user()

[2019-04-24 10:23] rhomullodesouza commented on #18
Poderia enviar o print das telas das configurações informadas ? 

Enviado de myMail para iOS

terça-feira, 23 de abril de 2019 17:22 -0300 de notifications@github.com  <notifications@github.com>:

[2019-04-24 11:02] dboldrini commented on #18
Obrigado pelo apoio. Segue.. [Telas de Config](https://saobernardosaude-my.sharepoint.com/:b:/g/personal/informatica_saobernardo_com/EUu7886LGbNNr-7AbEqNUEQBd1Q7a06ZFm74HkS2pf50Xw?e=rklIip)

[2019-04-27 02:51] rhomullodesouza commented on #18
Boa noite, o link expirou, você pode enviar mensagem direto pra mim no
e-mail abaixo.
rhomullosou@gmail.com

Em qua, 24 de abr de 2019 às 08:02, dboldrini <notifications@github.com>
escreveu:

[2019-05-23 13:06] reinethernal opened #33 "It's totally necessary and add the option for groups notifications directly in the plugin. Thanks"
It's totally necessary and add the option for groups notifications directly in the plugin. Thanks

_Originally posted by @kornelson in https://github.com/pluginsGLPI/telegrambot/issues/32#issuecomment-482214881_

[2019-06-17 08:58] Dmitry-DU opened #34 "Telegrambot don't send notofications to Telegtam"
When I open a ticket, GLPI shows the http: error 500, and in php-error.log file appears the record:

[2019-06-17 13:03:27] glpiphplog.ERROR: Toolbox::userErrorHandlerNormal() in /var/www/glpi/inc/toolbox.class.php line 659
  *** PHP Notice(8): Undefined index: telegram_username
  Backtrace :
  plugins/telegrambot/inc/user.class.php:52
  plugins/telegrambot/inc/user.class.php:65          PluginTele

[2019-09-04 12:07] Bullot78 commented on #32
It worked for me with GLPI 9.4.3 and GLPI TelegramBot 2.0.0 using mysql 8.0

[2019-09-17 13:43] thiagogmilani commented on #18
Bom Dia, estou instalando o plug in e está dando um erro na sincronização do banco de dados.
como mostrado na imagem, o que posso fazer? O GLPI está funcionando perfeito, já o utilizo faz tempo, e agora apenas quero adicionar esse plug in. pode me ajudar?

obrigado.

![Captura de Tela 2019-09-17 às 10 41 14](https://user-images.githubusercontent.com/22687605/65046899-d581e800-d937-11e9-9b41-8d2c13

[2019-10-07 15:09] guilhermestella commented on #30
I did it by manually inserting the groupId in glpi_plugin_telegrambot_user.

qry$ insert into glpi_plugin_telegrambot_user values (-1001xxxxxxxx, 0, 'Example', NULL, '-1001xxxxxxxx', 'en', '2019-10-07 09:25:23','2019-10-07 09:25:23');

now i have a group and an user just for the telegram notifications.

[2019-10-16 17:49] reinethernal commented on #32
I'm not a developer of this plugin, lol

[2019-11-04 12:37] mecmav commented on #18
Muito bom !!
A configuração que eu estava usando tb mandava as notificações apenas para mim, que sou o criador do bot que utilizamos.
Precisava inserir o bot em um grupo, para adicionar neste grupo o pessoal envolvido nos chamados, para que possa ser feito o envio das notificações, para quando eles estejam sem acesso ao sistema.

Vc pode me tirar uma duvida?

Após realizar todos os passos dos proc

[2019-11-04 13:03] thiagogmilani commented on #18
Bom dia…

então, no meu caso não está sendo enviado em duplicidade,

não criei um grupo apenas eu recebo mesmo as mensagem.

e estão vindo corretamente, tanto a de criação como a de solução do chamado.

mais creio que pelo que falou é alguma configuração direto no GLPI, na parte em que você cria as notificações do telegrama dentro do GLPI.

pelo que está falando creio que esteja executando duas ve

[2019-11-04 13:16] mecmav commented on #18
olá, agradeço o feedback.

Dando uma vasculhada aqui na base de dados, encontrei o problema.
Fiz uma correção, e agora está enviando corretamente apenas uma notificação, tanto para abertura como pra fechamento !

Mais uma vez, obrigado !

[2019-11-04 13:19] thiagogmilani commented on #18
Opa eu que agradeço.

outra coisa aproveitando.

como você criou o grupo?

criou um grupo simples no Telegrama e add o boot,

mais o bot não envia mensagem somente para o adm no caso eu?
como irá chega a mensagem no grupo do telegram?

   Thiago Giroto Milani
Skype: Thiago Milani
thiagogmilani@gmail.com
Fone: 19 9 9254.6917
http://consultoriaemti.wix.com/thiago

Preserve a natureza, imprima apenas

[2019-11-04 13:25] mecmav commented on #18
Então, fiz o seguinte: ja tinha o telegrambot configurado e rodando no GLPI (enviava as mensagens apenas para mim, criador do meu bot).
Segui os passos informados neste tutorial, adicionado o "/sendMessage?chat_id=" após o token do meu bot, na configuração do bot no GLPI. Após, no telegram criei um grupo normalmente. Adicionei o bot neste grupo criado e realizei testes nas API's do telegram "URL d

[2019-11-04 14:03] rhomullodesouza commented on #18
Bom dia, verifica se no grupo tem mais de um bot, não era pra está ocorrendo isso, sugiro também revisar toda a configuração pra ver se não tem algo que posso está causando isso. 

Fico a disposição. 

Enviado de myMail para iOS

segunda-feira, 4 de novembro de 2019 09:37 -0300 de notifications@github.com  <notifications@github.com>:

[2019-11-04 14:11] mecmav commented on #18
obrigado @rhomullodesouza
ja encontrei o que estava causando a duplicidade, conforme comentários acima.

[2019-11-04 14:11] rhomullodesouza commented on #18
Show, disponha ! 

Enviado de myMail para iOS

segunda-feira, 4 de novembro de 2019 11:11 -0300 de notifications@github.com  <notifications@github.com>:

[2019-11-08 11:06] reinethernal opened #36 "Still not working with 9.4"
Come on! How long would it take you to upgrade to 9.4 support?

[2019-11-11 12:43] mecmav commented on #36
it working fine...

[2019-11-11 12:45] reinethernal commented on #36
You must be joking. 9.4.4 glpi + this plugin = system errors

[2019-11-11 12:46] mecmav commented on #36
working on 9.4.2 + telegrambot 2.0.0

[2019-11-11 13:18] reinethernal commented on #36
![image](https://user-images.githubusercontent.com/35932698/68590118-d306bf00-049e-11ea-9778-9f3597e2cbb7.png)
And you say it is working? Than happens when i try to create new ticket, add followup, etc.

[2019-11-11 13:20] mecmav commented on #36
there's can be a lot of error of server-side, or some blocks in your ethernet, or some of returns from API... I already had many problems with error 500, from the most varied possible causes.

[2019-11-11 13:21] reinethernal commented on #36
There're some interactions with glpi api? No, nothing blocks glpiapi on my server-side.

[2019-11-11 13:31] mecmav commented on #36
I am talking about network lock. I've had it, this could be it, I'm not saying that's it.
what status shows in messagelistener at run manually the task?

[2019-11-11 13:36] reinethernal commented on #36
![image](https://user-images.githubusercontent.com/35932698/68591237-48738f00-04a1-11ea-8f86-7f9f9f692941.png)
That what i have at status when run it manually

[2019-11-11 13:38] mecmav commented on #36
click on date/hour, will show description of log

[2019-11-11 13:39] reinethernal commented on #36
![image](https://user-images.githubusercontent.com/35932698/68591432-d0599900-04a1-11ea-93e4-d1e654fc8b56.png)

[2019-11-11 13:41] mecmav commented on #36
your error is the return from telegram API, review it !

[2019-11-11 13:41] mecmav commented on #36
you need set the cron of your system to use CLI instead GLPI mode

[2019-11-11 13:47] reinethernal commented on #36
changed at plugin to use CLI instead of glpi - same error, still uses glpi according to error log.

[2019-11-11 13:49] mecmav commented on #36
have a crontask running ?
I believe you having troubles to implement the plugin.

[2019-11-11 13:52] reinethernal commented on #36
crontask is enabled
![image](https://user-images.githubusercontent.com/35932698/68592242-9be6dc80-04a3-11ea-8808-799093c69cbc.png)

[2019-11-11 13:56] mecmav commented on #36
set */5 * * * * ...... that way, every 5 minutes cron will run , the logs of messagelistener in GLPI should be "CLI mode". With that do some tests
remember of review your API key on telegram, if necessary reset the API token for bot.

[2019-11-11 14:00] reinethernal commented on #36
Is there any way i can force this plugin to use CLI mode?

[2019-11-11 14:11] mecmav commented on #36
*/5 * * * * /usr/bin/php7.2 /var/www/glpi/front/cron.php --force messagelistener &> /dev/null

[2019-11-11 14:15] reinethernal commented on #36
thx

[2019-11-11 14:19] mecmav commented on #36
you did it ?

[2019-11-11 14:20] reinethernal commented on #36
Changed, but no effect. In action logs i receive same error.

[2019-11-11 14:21] mecmav commented on #36
reset api key for bot

[2019-11-11 14:22] reinethernal commented on #36
i need to add restapi key? or bot key?

[2019-11-11 14:22] reinethernal commented on #36
if bot key - checked twice.

[2019-11-11 14:28] mecmav commented on #36
reset api key for bot in telegram. use botfather for that
after reset api key, change bot token in glpi Notifications>Telegram Followups Config.
with that, the log of messagelistener can't have any error

[2019-11-11 14:30] reinethernal commented on #36
Did it for three or four times. No effect.

[2019-11-11 14:31] mecmav commented on #36
So, I can't help you with that. Sorry

[2019-11-11 14:39] reinethernal commented on #36
Thank you any way

[2019-11-24 02:33] xpedroaugustox commented on #36
hi, how is your plugin configuration?

[2019-11-24 02:35] xpedroaugustox commented on #34
Hi, did you set telegram_username in user account setup?

[2019-11-24 02:37] xpedroaugustox commented on #33
hi, are the groups from Telegram or GLPI?

[2019-11-24 02:39] xpedroaugustox commented on #32
It worked for me with GLPI 9.4.4 and GLPI TelegramBot 2.0.0. What error is the plugin showing in your GLPI?

[2019-11-24 02:48] xpedroaugustox commented on #18
Conseguiu resolver o problema @thiagogmilani ?

[2019-11-24 02:55] xpedroaugustox commented on #9
Tive o mesmo problema hoje. Como eu resolvi:
1. Dei permissão a tudo que estava no banco GLPI ao usuário glpi usando o comando: GRANT ALL ON glpi.* TO 'glpi'@'localhost' IDENTIFIED BY 'SENHADOBANCO';
2.  Dei uma conferida no arquivo /var/www/html/glpi/config/config_db.php e vi se a senha estava correta para o banco GLPI, no meu caso tava errada a senha do banco nesse arquivo, minha senha tem um @

[2019-11-24 18:22] reinethernal commented on #33
Telegram groups

[2019-11-25 00:45] xpedroaugustox commented on #33
Do you see https://github.com/pluginsGLPI/telegrambot/issues/18?

[2019-11-25 11:28] thiagogmilani commented on #18
Bom dia.

Aparentemente esse erro é quando o usuario e senha do sql estão errados.

Veja se não colocou usuário e senha erro na hora de configurar.

   Thiago Giroto Milani
Skype: Thiago Milani
thiagogmilani@gmail.com
Fone: 19 9 9254.6917
http://consultoriaemti.wix.com/thiago

Preserve a natureza, imprima apenas se necessário.

[2019-11-25 11:30] rhomullodesouza commented on #18
Bom dia, verifique duas coisas, uma é se root tem acesso ao BD e a outra é a senha de acesso, me parece erro de autenticação no BD.  

Enviado de myMail para iOS

sábado, 23 de novembro de 2019 23:48 -0300 de notifications@github.com  <notifications@github.com>:

[2019-11-25 11:43] xpedroaugustox commented on #18
Deu certo, obrigado a todos.

[2019-11-25 18:50] thienry opened #37 "How to send notifications of a particular group from glpi to telegram?"

[2019-11-26 11:46] thiagogmilani commented on #18
Opa show obrigado pela dica mais uma duvida. Quando você colocou o trecho de código
/sendMessage?chat_id=

Onde viu o ID do chat para colocar no fim desse trato?’

Você colocou. ID co grupo que criou??

Obrigado

att.

   Thiago Giroto Milani
Skype: Thiago Milani
thiagogmilani@gmail.com
Fone: 19 9 9254.6917
http://consultoriaemti.wix.com/thiago

Preserve a natureza, imprima apenas se necessário.

[2019-11-26 12:32] thiagogmilani commented on #18
Amigo deu certo. Esse tutorial deu certinho consegui fazer funcionar porém cada vez que é enviada uma mensagem para o grupo eu recebo ela 3x (o grupo tem 3 membros)

Alguma configuração?

Obrigado

   Thiago Giroto Milani
Skype: Thiago Milani
thiagogmilani@gmail.com
Fone: 19 9 9254.6917
http://consultoriaemti.wix.com/thiago

Preserve a natureza, imprima apenas se necessário.

[2019-11-26 12:38] mecmav commented on #18
maravilha, se estiver indo a mesma mensagem varias vezes, deve-se verificar os alvos das notificações, pode haver algum usuário que bate em mais de uma regra, por exemplo, "Administrador", "Administrador da entidade" e "Super-Admin". O usuário GLPI pode assumir estas regras e enviar 2x ou 3x a mesma mensagem.

No meu caso enviava 2x.

[2019-11-27 01:46] jcrosasv commented on #36
How did you do?, I get error Error. Telegram returned an invalid response! Please review your bot name and API key.

[2019-11-27 11:21] xpedroaugustox commented on #36
@jcrosasv send photos of the errors, please.

[2019-11-27 13:51] jcrosasv commented on #36
Hello xpedroaugustox

![image](https://user-images.githubusercontent.com/15623684/69728743-0aa67580-10f3-11ea-9a3c-0a0b3cead936.png)

[2019-11-27 14:31] jcrosasv commented on #36
Guys, I resolved the problem upgrade PHP 5.6 to 7.2 and test messagelistener was successful.

[2019-12-10 18:42] thiagogmilani commented on #18
boa tarde pessoal

estou tendo um problema mais é relacionado a liberação do firewall para o envio das msgns

quando coloco o servidor na minha rede ele não envia a mensagem.

alguém saber a regra de firewall que posso precisar?'

obrigado

[2019-12-10 20:35] rhomullodesouza commented on #18
Boa tarde, qual firewall você está usando ?

Enviado de myMail para iOS

terça-feira, 10 de dezembro de 2019 15:42 -0300 de notifications@github.com  <notifications@github.com>:

[2019-12-10 21:21] thiagogmilani commented on #18
Eu tenho um fortgate
Na realidade ele é administrado por terceiros e só preciso passa roda eles qual Port e protocolo é usado pra liberar

Enviado do meu iPhone

[2019-12-11 08:16] aagz commented on #32
![image](https://user-images.githubusercontent.com/46520039/70603458-a82b9a00-1c07-11ea-9ba4-c137dbfe31ff.png)

![image](https://user-images.githubusercontent.com/46520039/70603468-aeba1180-1c07-11ea-94c4-b5edbd1a6e05.png)

[2019-12-11 09:02] aagz commented on #36
![image](https://user-images.githubusercontent.com/46520039/70606731-2a1ec180-1c0e-11ea-8cf7-a764e012152e.png)

[2020-02-12 21:55] netruner commented on #34
PHP 7.2, GLPI 9.4.5

2020-02-12 22:46:58] glpiphplog.ERROR: Toolbox::userErrorHandlerNormal() in /var/www/glpi/inc/toolbox.class.php line 658
  *** PHP Notice(8): Undefined index: telegram_username
  Backtrace :
  plugins/telegrambot/inc/user.class.php:67
  :                                                  PluginTelegrambotUser::item_update_user()
  inc/plugin.class.php:1112

[2020-04-14 00:20] innerbit commented on #18
Ola, como resolveu esse problema? Pode me explicar

[2020-04-14 00:22] rhomullodesouza commented on #18
Boa noite, muito bom a continuidade do serviço, abraços ! 

Enviado de myMail para iOS

segunda-feira, 13 de abril de 2020 21:20 -0300 de notifications@github.com  <notifications@github.com>:

[2020-04-14 12:46] innerbit commented on #18
Poderia fazer um passo a passo do procedimento pois eu verifiquei e ainda continua enviando mensagens duplicadas, pode me ajudar por favor??
https://github.com/pluginsGLPI/telegrambot/issues/18#issuecomment-558610069

[2020-05-08 13:49] skull-man commented on #28
всем привет! проблему удалось решить? я перепробовал все рекомендации что тут нашёл, ничего не помогает. сообщение telegram returned an invalid response

Hello everyone!  Did you solve the problem?  I tried all the recommendations that I found here, nothing helps.  telegram message returned an invalid response

[2020-05-12 15:14] sazanof commented on #28
Привет!
Скорее всего это связано с блокировкой телеги в Нашей Раше
))
Поэтому и с проксей и без теперь не работает. Можно офдистриб попробовать проверить https://github.com/php-telegram-bot/core

[2020-07-20 12:06] akolomyts commented on #9
Thank you. This worked for me.
**symbol "^"** in mysql_user password from install.php converted to "**%5E"** in /var/www/html/glpi/config/config_db.php

[2020-08-13 20:35] igorssena commented on #18
Uso o GPLI 9.5.0, configurei tudo, até o momento que tem que dar /start no bot e mandar um texto para verificar no banco se subiu alguma informação, mas não aparece nenhuma informação, fiz o teste do link de atualização, e aparece no telegram tudo ok, não sei o q pode ser, se é a versão do glpi

[2020-08-13 20:39] rhomullodesouza commented on #18
Provavelmente é por conta da versão do GLPI, faz um teste em uma VM com a versão do GLPI sugerida no documento. 

Enviado de myMail para iOS

quinta-feira, 13 de agosto de 2020 17:35 -0300 de notifications@github.com  <notifications@github.com>:

[2020-11-15 10:20] reinethernal opened #38 "PHP Notice: Undefined index:"
PHP Notice: Undefined index: telegram_username in /data/www/helpdesk-gumrf/glpi/plugins/telegrambot/inc/user.class.php at line 67

[2020-12-17 11:37] aagz commented on #37
I don't know if your question is still relevant, but you can do this:
![image](https://user-images.githubusercontent.com/46520039/102483142-5e289000-4075-11eb-8ec6-5def6697552c.png)

[2021-02-05 07:21] waimun92 commented on #13
Hi,

Is there any updates on this bug? Currently I'm facing the issue where my the telegram plugin will only send notification when ticket is created at Root entity and it won't pop up notification when ticket is created under at sub-entity.

Thanks.

[2021-03-07 20:39] RedAkatsuki opened #40 "Doesn't work properly with 9.5+"
Hi!!, there will be an update upgrade to 9.5+ support? I am new installing this plugin but in the tests carried out it does not work with the latest version to this date, I followed the instructions but did not send any notification to telegram, thanks for your attention

[2021-04-19 13:04] sazanof commented on #40
Hi!
My version is 9.5.5 and the plugin works correctly.
You don't need to create a new notification, you only need to create a new notification template with translation. If you also create a new notification, the notifications will not work.

Привет!
Моя версия 9.5.5 и плагин работает корректно.
Не нужно создавать новое уведомление, нужно создавать только новый шаблон уведомления с переводом. Есл

[2021-05-05 14:21] JohnBolanos commented on #40
How install this in GLPI 9.5.3 because this use add buttom is disabled

[2021-05-06 13:20] jcrosasv commented on #40
Hello sazanof,
How did you that, could you please explain about it little more becuase I followed your instructions but I could able to do that.
Thanks in advance

[2021-05-19 06:58] yakirillko commented on #40
Hi! It is quite simlpe. just change Setup.php in plugin directory like this

[setup.txt](https://github.com/pluginsGLPI/telegrambot/files/6506466/setup.txt)

[2021-05-19 13:04] sazanof commented on #40
Pls,give the screenshots of settings(template and notification)

Also i can send my plugin folder archive if you need

[2021-05-20 05:15] yakirillko commented on #38
static public function item_add_user(User $item) {
       **if (isset($item->input['telegram_username']))** {
         $user = new self;
         $user->fields['id'] = $item->fields['id'];
         $user->fields['username'] = $item->input['telegram_username'];
         $user->addToDB();
      }
   }

   static public function item_update_user(User $item) {
      $user = new self;
      $user->getF

[2021-05-24 15:44] andreramon commented on #40
Does not work in version 9.5.3

![image](https://user-images.githubusercontent.com/73349637/119372445-51900f80-bc85-11eb-89a8-d32a8ffaba3c.png)

When clicking on notifications it appears!

[2021-07-20 06:43] DimmoK commented on #40
Hello!

I have the same problem.

In log error I see that notification:

**/var/www/glpi/plugins/telegrambot/vendor/autoload.php - doesn't exist....**

I used this release!
[compressed archive bz2](https://github.com/pluginsGLPI/telegrambot/releases/download/2.0.0/glpi-telegrambot-2.0.0.tar.bz2)

And now I can use settings.

Sorry for my very bad English.

Thanks!

[2021-07-25 21:28] walkmanyd opened #42 "error in 9.5.5"
Hi, in my version 9.5.5 get error
Error. SQLSTATE[HY000] [1045] Access denied for user 'glpi_user'@'localhost' (using password: YES)

[2021-07-26 21:35] walkmanyd commented on #42
I also noticed that when installing the plugin, it creates tables of the MyISAM type in the database instead of innodb

[2021-08-11 18:07] fcrispim77 commented on #40
Hi Guys!!!

Works for us:

This release, sugested by Dimmok:

https://github.com/pluginsGLPI/telegrambot/releases/download/2.0.0/glpi-telegrambot-2.0.0.tar.bz2

Changing setup.php with this version, sugested by yakirillko:

https://github.com/pluginsGLPI/telegrambot/files/6506466/setup.txt

Please, create a new version with these changes!!

![image](https://user-images.githubusercontent.com/229642

[2021-11-09 13:07] viniciosnunes commented on #18
Estou com esse mesmo problema, alguma solução ?

[2022-01-13 18:34] diegomerss commented on #18
Boa tarde Amigos!

Como conseguiram solucionar esse problema de duplicidade das mensagens no grupo do Telegram?

Obrigado!!

Diego Merss

[2022-03-22 22:01] MicroMihai4 opened #44 "API Error"
2022-03-23 06:59	Start	0.000 seconds  	0	Run Mode: GLPI
 	Running	0.085 seconds  	0	Error. Telegram returned an invalid response! Please review your bot name and API key.
 	End	0.140 seconds  	0	Action completed, no processing required